<ion-header>
  <ion-header class="header">
    <ion-toolbar class="toolbar">
      <ion-title>Meu Perfil</ion-title>

      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</ion-header>

<ion-content class="conteudo">
  <div class="perfil">
    <form class="form" [formGroup]="formUsuario">
      <ion-list class="lista">
        <div class="inputs">

          <ion-item class="imagem">
            <ion-avatar *ngIf="formUsuario.value.fotoPerfil == null">
              <img src="../../assets/img/avatar.svg">
            </ion-avatar>

            <ion-avatar *ngIf="formUsuario.value.fotoPerfil != null">
              <img [src]="formUsuario.value.fotoPerfil">
            </ion-avatar>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Usuario</ion-label>
            <ion-input type="text" formControlName="username" [disabled]="true" readonly></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Nome Completo</ion-label>
            <ion-input type="text" formControlName="nomeCompleto" [clearInput]="true"
              placeholder="Digite seu nome completo"></ion-input>

            <ion-note slot="error" class="mensagemErro" no-lines
              *ngIf='podeValidar && errorControl.nomeCompleto.errors?.required'>
              Campo obrigatório!
            </ion-note>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" formControlName="email" [clearInput]="true"
              placeholder="Digite seu email"></ion-input>

            <ion-note slot="error" class="mensagemErro" no-lines
              *ngIf='podeValidar && errorControl.email.errors?.required || errorControl.email.errors?.pattern'>
              Email inválido!
            </ion-note>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Foto Perfil</ion-label>
            <ion-input type="text" formControlName="fotoPerfil" [clearInput]="true"
              placeholder="Url da imagem"></ion-input>

            <ion-note slot="error" class="mensagemErro" no-lines
              *ngIf='podeValidar && errorControl.email.errors?.pattern'>
              Url inválida!
            </ion-note>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Data de Nascimento</ion-label>
            <ion-input type="date" displayFormat="MM/DD/YYYY" formControlName="dataNascimento"
              placeholder="Seu aniversário"></ion-input>

            <ion-note slot="error" class="mensagemErro" no-lines
              *ngIf='podeValidar && errorControl.nascimento.errors?.required'>
              Campo obrigatório!
            </ion-note>
          </ion-item>
        </div>
      </ion-list>

      <ion-row>
        <ion-col>
          <ion-button (click)="salvarPerfil()" class="button" type="submit" expand="block">Salvar</ion-button>
        </ion-col>
      </ion-row>

      <div class="linkAlterarSenha">
        <ion-button (click)="alterarSenha()">Alterar senha</ion-button>
      </div>
    </form>
  </div>
</ion-content>