@import '/src/theme/variables.scss';

.conteudo {
    .perfil {
        background-color: $azul-marinho;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 2em auto;
        width: 90%;
        height: fit-content;
        border-radius: $border-radius-container;

        ion-list {
            background: transparent;
        }

        ion-item {
            color: $branco;
            --background: transparent;
        }

        .form {
            .lista {
                .inputs {
                    padding: 1em;

                    .imagem {
                        margin: 0 auto;

                        ion-avatar {
                            width: 5em;
                            height: 5em;
                            margin: 1em auto;
                            border-radius: 2em;
                        }
                    }
                }
            }

            .button {
                margin: 1em auto;
                --background: #fdfdfd;
                color: $azul;
                width: 90%;
                border-radius: 1rem;
            }

            .linkAlterarSenha {
                text-align: center;
                margin-bottom: 1em;

                ion-button {
                    width: fit-content;
                    font-size: 12px;
                    height: 2em;
                }
            }
        }
    }
}