<ion-header>
  <ion-header class="header">
    <ion-toolbar class="toolbar">
      <ion-title>Meu Perfil</ion-title>

      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</ion-header>

<ion-content class="conteudo">
  <form class="form" [formGroup]="formUsuario">
    <ion-list>

      <div class="inputs">

        <ion-item class="imagem">
          <ion-avatar>
            <img *ngIf="formUsuario.value.fotoPerfil == ''" src="../../assets/img/avatar.svg"
              (click)="selecionarImagem()">
          </ion-avatar>

          <ion-avatar>
            <img *ngIf="formUsuario.value.fotoPerfil != ''" [src]="formUsuario.value.fotoPerfil"
              (click)="selecionarImagem()">
          </ion-avatar>

          <ion-icon name="add-outline"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" formControlName="username" [disabled]="true"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Nome Completo</ion-label>
          <ion-input type="text" formControlName="nome" [clearInput]="true"
            placeholder="Digite seu nome completo"></ion-input>

          <ion-note slot="error" class="mensagemErro" no-lines
            *ngIf='podeValidar && errorControl.nome.errors?.required'>
            Campo obrigatório!
          </ion-note>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" formControlName="email" [clearInput]="true" placeholder="Digite seu email"></ion-input>

          <ion-note slot="error" class="mensagemErro" no-lines
            *ngIf='podeValidar && errorControl.email.errors?.required || errorControl.email.errors?.pattern'>
            Email inválido!
          </ion-note>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Data de Nascimento</ion-label>
          <ion-input type="date" displayFormat="MM/DD/YYYY" formControlName="nascimento"
            placeholder="Seu aniversário"></ion-input>

          <ion-note slot="error" class="mensagemErro" no-lines
            *ngIf='podeValidar && errorControl.nascimento.errors?.required'>
            Campo obrigatório!
          </ion-note>
        </ion-item>
      </div>

    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button (click)="salvarPerfil()" class="button" type="submit" expand="block">Salvar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>