@import '/src/theme/variables.scss';

ion-content {

    .cadastro {
        background-color: $azul-marinho;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 90%;
        height: fit-content;
        border-radius: $border-radius-container;


        .titulo {
            color: $branco;
            text-align: center;
            padding: 3em 2em 2em 2em;

            h1 {
                font-size: 2em;
                margin: 0;
            }
        }

        .form {
            width: 85vw;
            padding-left: 15px;
            padding-bottom: 1em;

            .inputs {

                ion-item::part(native) {
                    color: $branco;
                    background-color: transparent;
                    caret-color: transparent;
                }
            }

            .button {
                --background: #fff;
                color: $azul;
                width: 100%;
                border-radius: 1rem;
                margin: 1.5em 0;
            }
        }

    }
}