<ion-content>
  <div class="cadastro">
    <div class="titulo">
      <h1>Cadastro</h1>
    </div>

    <form [formGroup]="formUsuario" (ngSubmit)="cadastrarUsuario()">
      <ion-item>
        <ion-label>Usuario</ion-label>
        <ion-input type="text" formControllName="username" name="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="text" formControllName="email" name="email"></ion-input>
      </ion-item>

      <span class="error ion-padding" *ngIf="podeValidar && form">
        Email is required.
      </span>

      <ion-item>
        <ion-label>Senha</ion-label>
        <ion-input type="password" formControllName="senha" name="senha"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Confirmar Senha</ion-label>
        <ion-input type="password" formControllName="" name="confirmarSenha"></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" expand="block">Submit</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>