<ion-header class="header">
  <ion-toolbar class="toolbar">
    <ion-title>Discussão</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="conteudo">
  <div class="margin-top">
    <ion-item class="discussao">
      <div class="padding">

        <div class="header">
          <div class="avatar">
            <ion-chip class="ion-chip">
              <ion-avatar class="ion-avatar">
                <img class="fotoPerfil" alt="Foto de perfil do usuário" [src]="discussao.autor.fotoPerfil" />
              </ion-avatar>
              <ion-label class="nomeAutor">{{ discussao.autor.nomeCompleto }}</ion-label>
            </ion-chip>
          </div>

          <div class="excluir-topico" *ngIf="podeExcluir">
            <ion-button class="btn-excluir" (click)="excluirDiscussaoAlert()">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </div>
        </div>

        <div class="imagem">
          <img [src]="discussao.imagem">
        </div>

        <div class="linha-divisoria"></div>

        <div class="texto">
          <h2>{{ discussao.titulo }}</h2>

          <p>{{ discussao.conteudo }}</p>
        </div>


        <div class="info">
          <p class="horaPublicacao">{{ discussao.horaPublicacao | date: 'short' }}</p>
        </div>

        <div class="comentario">
          <form class="form" [formGroup]="formComentario">
            <ion-item>
              <ion-input class="input" type="text" formControlName="conteudo" maxlength="60"
                placeholder="Escreva um comentário..."></ion-input>

              <ion-button class="btn" (click)="adicionarComentario()">
                <ion-icon name="send"></ion-icon>
              </ion-button>
            </ion-item>
          </form>
        </div>
      </div>
    </ion-item>
  </div>

  <ion-list class="lista" *ngIf="comentarios.length > 0">
    <div class="titulo">
      <h2>Comentários</h2>
    </div>

    <div *ngFor="let c of comentarios">
      <ion-item class="comentario" *ngIf="c.visivel || podeExcluir">
        <div class="padding">
          <div class="header">
            <div class="avatar">
              <ion-chip class="ion-chip">
                <ion-avatar class="ion-avatar">
                  <img class="fotoPerfil" alt="Foto de perfil do usuário" [src]="c.autor.fotoPerfil" />
                </ion-avatar>
                <ion-label class="nomeAutor">{{ c.autor.nomeCompleto }}</ion-label>
              </ion-chip>
            </div>

            <div class="excluir-topico" *ngIf="podeExcluir  && c.visivel">
              <ion-button class="btn-excluir" (click)="excluirDuvidaAlertComentario(c.id)">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </div>

            <div class="excluir-topico" *ngIf="podeExcluir && !c.visivel">
              <ion-icon name="eye-off-outline" class="icone-invisivel"></ion-icon>
            </div>
          </div>

          <div class="conteudo">
            <p>{{ c.conteudo }}</p>
          </div>
        </div>
      </ion-item>
    </div>
  </ion-list>
</ion-content>