<!-- Conteúdo do menu -->
<ion-menu side="start" contentId="conteudoMenu">
  <ion-header class="header">
    <ion-toolbar class="toolbar">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding menu-content">
    <ion-list>
      <ion-item>
        <ion-label class="label" [routerLink]="['/tabs/meu-perfil']">- Perfil</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="label" [routerLink]="['/tabs/usuarios']">- Usuários</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="label desconectar" (click)="desconectarContaAlert()">- Desconectar</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Para abrir o menu com rolagem horizontal -->
<ion-content id="conteudoMenu"></ion-content>

<ion-tabs>
  <ion-tab-bar class="tab-bar" slot="bottom">
    <ion-tab-button class="tab-button" tab="topicos">
      <ion-icon name="home-sharp"></ion-icon>
      <ion-label>Tópicos</ion-label>
    </ion-tab-button>

    <ion-tab-button class="tab-button" tab="duvidas">
      <ion-icon name="help"></ion-icon>
      <ion-label>Dúvida</ion-label>
    </ion-tab-button>

    <ion-tab-button class="tab-button" tab="discussoes">
      <ion-icon name="megaphone-sharp"></ion-icon>
      <ion-label>Discussões</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>