/* Paleta de cores */
$azul-escuro: #001B48;
$azul: #02457A;
$azul-marinho: #084770;
$azul-claro: #018ABE;
$azul-claro2: #97CADB;
$branco-azulado: #D6EBEE;
$branco: #FDFDFD;
$mensagem-erro: #ff6c6c;
$mensagem-sucesso: #087608d4;

/* Utilitários */
$border-radius-container: 2em;