/* Paleta de cores */

$azul-escuro: #001B48;
$azul: #02457A;
$azul-marinho: #084770;
$azul-claro: #018ABE; // quadrado
$azul-claro2: #97CADB; // fundo 
$branco-azulado: #D6EBEE;
$branco: #FDFDFD;

/* Utilitários */

$border-radius-container: 2em;