<ion-header class="header">
    <ion-toolbar class="toolbar">
        <ion-title>Conteúdo</ion-title>

        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button fill="solid" class="btnAddConteudo" (click)="adicionarConteudo()">
                <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="conteudo">
    <ion-list class="lista">
        <ion-item class="topico" *ngFor="let topico of listaConteudo">
            <div class="padding" *ngIf="topico.anonimo" (click)="abrirVisualizacaoCompleta(topico)">
                <div class="imagem">
                    <img [src]="topico.imagem">
                </div>

                <div class="linha-divisoria"></div>

                <div class="titulo">
                    <h2>{{topico.titulo}}</h2>
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>