<ion-header class="header">
  <ion-toolbar class="toolbar">
    <ion-title>Dúvidas</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button fill="solid" class="btnAddDuvida" (click)="adicionarDuvida()">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="conteudo">
  <ion-list class="lista">
    <ion-item class="duvida" *ngFor="let duvida of duvidas">
      <div class="padding" (click)="abrirVisualizacaoCompleta(duvida)">
        <div class="imagem">
          <img [src]="duvida.imagem">
        </div>

        <div class="linha-divisoria"></div>

        <div class="titulo">
          <h2>{{duvida.titulo}}</h2>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>