@import '/src/theme/variables.scss';

.btnAddDuvida {
    --background: transparent;
}

.conteudo {
    .lista {
        .duvida {
            color: $azul;
            --background: #FDFDFD;
            border-radius: 1em;
            margin: 1em;
            box-shadow: 3px 2px 10px 0px rgb(0 0 0 / 31%);

            .padding {
                padding: 1em 0;
                width: 100%;

                .imagem {
                    width: 100%;
                    text-align: center;
                }

                .linha-divisoria {
                    border-bottom: 1px solid $azul;
                    margin: 0.5em 0;
                    width: 100%;
                }

                .titulo {
                    text-align: center;
                    max-height: 5em;
                    overflow: hidden;

                    h2 {
                        margin: 0;
                    }
                }
            }
        }
    }
}