<ion-content class="bem-vindo">
    <div class="container">
        <div class="title">
            <h1>Bem-Vindo</h1>
        </div>

        <div class="buttons">
            <ion-button class="button" fill="clear" strong="true" size="large"
                [routerLink]="['/login']">Login</ion-button>
            <ion-button class="button" fill="clear" strong="true" size="large" [routerLink]="['/cadastro']">Cadastro
            </ion-button>
        </div>

        <a [routerLink]="['/tabs/topicos']">TESTE</a>
    </div>
</ion-content>