<ion-header class="header">
  <ion-toolbar class="toolbar">
    <ion-title>Dúvida</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="conteudo">
  <div class="margin-top">
    <ion-item class="duvida">
      <div class="padding" *ngIf="duvida.anonimo">

        <div class="avatar">
          <ion-chip class="ion-chip">
            <ion-avatar class="ion-avatar">
              <img class="fotoPerfil" alt="Foto de perfil do usuário" [src]="duvida.autor.fotoPerfil" />
            </ion-avatar>
            <ion-label class="nomeAutor">{{ duvida.autor.nomeCompleto }}</ion-label>
          </ion-chip>
        </div>

        <div class="imagem">
          <img [src]="duvida.imagem">
        </div>

        <div class="linha-divisoria"></div>

        <div class="texto">
          <h2>{{ duvida.titulo }}</h2>

          <p>{{ duvida.conteudo }}</p>
        </div>


        <div class="info">
          <p class="horaPublicacao">{{ duvida.horaPublicacao | date: 'short' }}</p>
        </div>
      </div>
    </ion-item>
  </div>
</ion-content>