@import '../../theme/variables.scss';

.btnCriarUsuario {
    --background: transparent;
}

.conteudo {
    .lista {
        .usuario {
            width: 100%;
            margin: 0.5em 0;

            .padding {
                width: 100%;
                background-color: $azul;
                border-radius: 1em;

                .header {
                    .avatar {
                        .ion-chip {
                            background-color: transparent;
                            color: $branco;
                            height: 4em;

                            .ion-avatar {
                                width: 3em;
                                height: 3em;
                            }
                        }
                    }
                }
            }
        }
    }
}