@import '/src/theme/variables.scss';

.conteudo {
    .perfil {
        background-color: $azul-marinho;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 90%;
        height: fit-content;
        border-radius: $border-radius-container;

        ion-list {
            background: transparent;
        }

        ion-item {
            color: $branco;
            --background: transparent;
        }

        .form {
            .lista {
                .inputs {
                    padding: 1em;
                }
            }

            .button {
                margin: 0.5em auto 2em;
                --background: #fdfdfd;
                color: $azul;
                width: 90%;
                border-radius: 1rem;
            }
        }
    }
}